.panel {
	margin-bottom: 0.3rem;
	padding: 1.25rem;
	background: #f2f2f2;
}

button.small, .button.small {
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    font-size: 1.2rem;
    background: cornflowerblue;
}
.card {
    margin-bottom: 0px;
    background-color: #DA5C5C;
}

.tabs {
  *zoom: 1;
  margin-bottom: 0 !important; }
  .body {
    color: #DA5C5C;
  }
  .tabs:after {
    clear: both; 
  }
  .tabs dd {
    top: 1px;
    float: left; }
    .tabs dd > a {

      /* color when selected*/
      background: #AAA;
      padding-top: .5rem;
      padding-right: 1rem;
      padding-bottom: .5rem;
      padding-left: 1rem;}
      .tabs dd > a:hover {
        color: white;
        background: #DA5C5C;
    }

.tabs-content {
  *zoom: 1;
  margin-bottom: 0rem;
  width: 100%; }
  .tabs-content:before, .tabs-content:after {
    content: " ";
    display: table; }
  .tabs-content:after {
    clear: both; }
  .tabs-content > .content {
    display: none;
    float: left;
    padding: 0rem;
    width: 100%; }
    .tabs-content > .content.active {
      display: block; }
    .tabs-content > .content.contained {
      padding: 0.9375rem; }
  .tabs-content.vertical {
    display: block; }
    .tabs-content.vertical > .content {
      padding: 0 0.9375rem; }

@media only screen and (min-width: 40.063em) {
  .tabs.vertical {
    width: 20%;
    float: left;
    margin-bottom: 1.25rem; }

  .tabs-content.vertical {
    width: 80%;
    float: left;
    margin-left: -1px; } }
