.log_entry_list li {
    margin: 5px;
}

.goal-buttons {
    position: absolute;
    bottom: 5px;
    right: 5px;
    left: auto;
}

.goal-picture-container {
    background-color: #777;
}

.goal-image {
    position:absolute; 
    clip:rect(0px,1080px,300px,0px); 
    left:0;
    right:0;
    top: 0px;
    bottom: 0px;
    margin: auto;
}

.participants-list input {
    margin-bottom: 3px;
    margin-right: 2px;
}

#upload-goal-image {
    position: absolute;
    bottom: 5px;
    left: 5px; 
}

#imdummy {
    margin-bottom: 3px;
}

#filebuttonContainer {
    height: 0;
    width: 0;
}

#imagesubmitbutton {
    z-index:0;
    opacity:0;
    display:none;
}


