#title {
    font-family: 'Ubuntu', Georgia, Times, serif !important;
}

.progress {
    background-color: lightgray !important;
}

.log_entry_list li {
    margin: 5px;
}

.goal-buttons {
    position: absolute;
    bottom: 5px;
    right: 5px;
    left: auto;
}

.goal-picture-container {
    background-color: #777;
}

.goal-image {
    position:absolute; 
    clip:rect(0px,1080px,300px,0px); 
    left:0;
    right:0;
/*    top: 0px;
    bottom: 0px;
*/  margin: auto;
    min-height: 300px;
}

.participants-list input {
    margin-bottom: 3px;
    margin-right: 2px;
}

#upload-goal-image {
    position: absolute;
    bottom: 5px;
    left: 5px; 
}

#imdummy {
    margin-bottom: 3px;
}

#filebuttonContainer {
    height: 0;
    width: 0;
}

#imagesubmitbutton {
    z-index:0;
    opacity:0;
    display:none
}


.barchart { 
  background-color: #a3dbe3;
  height: 1em;
  padding: 0em;
  margin: 0.625em 0; 
  width: 100%; }

.barchart .meter {
  background: #2daebf;
  height: 100%;
  display: block; }

table.chart { 
  width: 100%;
  border-width: 0;
  margin: 40px 0; }

table tr.even, table tr.alt, table tr:nth-of-type(even) { 
    background: #FFF; }

td.chart {
  font-size: 14px;
  margin-bottom: 50px;
  padding: 0 0 20px 0; }

p.percentage {
  font-size: 30px !important; 
  color: #6f6f6f;
  font-weight: 300;
  margin-bottom: 17px;}              
            