html, body {
    background-color: #EDEEEF;
}
.tab-bar{
   background-color: #fff; 
}
.tab-content-holder{
   background-color: #DBDCDD; 
   padding: 20px;
}
.dashcard-holder{
    display: inline-block;
    height: 160px;
    width: 100%;
    /*margin: 20px;*/
    position: relative;
}
.join-button{
    display:none;
}
.dashcard{
    position: absolute;
    text-align: left;
    vertical-align: top;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    /*padding: 20px;*/
    color: #333;
    background-color: #FFF;
}
.dashcard-img{
    height: 50%;
    width: 100%;
    overflow: hidden;
    /*margin: -20px 0px 0px -20px;*/
    background-image: url('../../img/trophy.gif') ;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../img/trophy.gif');
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../img/trophy.gif');
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../img/trophy.gif');
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../img/trophy.gif');
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url('../../img/trophy.gif');
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../img/trophy.gif');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.dashcard-title{
    font-size: 70%;
    font-weight: bold;
    padding: 0px 20px;
}
.dashcard-description{
    font-style: italic;
    font-size: 60%;
    color: #333;
    padding: 0px 20px;
}
#imageContainer {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 0
}
#imageContainer img{
    border-radius: 50%;
}
#filebuttonContainer {
    opacity:0;
}
.prof-pic-form{
    height:0px;
    width:0px;
}
#dummyContainer {
    width: 100%;
    text-align: center;
    position: absolute;
    margin-top: 70%;
    top: 0;
    left: 0;
    z-index:1;
    display: none;
}
#imdummy{
    position: relative;
    margin: 0 auto;
    width: 200px;
}

#imagebutton {
    font-size:30px;
    height:40%;

}
#upload {
    position:relative;
    width:200px;
}

#submitbuttonContainer {
    height:0px;
    width:0px;
    opacity:0;
}


.panel{
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
}

#streakText {
    
    font: 50px Tahoma, Helvetica, Arial, Sans-Serif;
    text-align: center;
    color: #222; text-shadow: 0px 2px 3px #555;
}

#streakNumber {
    display: block; text-decoration: none;
    font: 100px Helvetica, Arial, Sans-Serif; letter-spacing: -5px;  
    text-align: center;
    color: #999; text-shadow: 0px 3px 8px #2a2a2a;
}

.example-orbit-content {
    background-color: #DCDCDC;
}

