html, body {
    background-color: #FFF;
}

#imageContainer {
    width: 230px;
    height: 230px;
    position: relative;
    z-index: 0
}

#filebuttonContainer {
    width: 80%;
    height: 40%;
    position: absolute;
    margin-top: 190px;
    margin-left: 20px;
    top: 0;
    left: 0;
    z-index:2;
    display:none;
    opacity:0;
}

#dummyContainer {
    width: 80%;
    height: 40%;
    position: absolute;
    margin-top: 190px;
    margin-left: 30px;
    top: 0;
    left: 0;
    z-index:1;
    display:none;
}

#imdummy{
   width: 100%;
}

#imagebutton {
    font-size:30px;
    height:40%;

}

#upload {
    position:relative;
    width:200px;

}

#submitbuttonContainer {
    width: 1px;
    height: 40%;
    position: absolute;
    margin-top: 190px;
    margin-left: 150px;
    z-index:0;
    top: 0;
    left: 0;
    opacity:0;
    display:none;
}