html, body {
    background-color: #EDEEEF;
}

.no-list-style {
    list-style-type: none;   
}

.card {
    margin-bottom: 15px;
    background-color: #FFF;
    -webkit-box-shadow: 0px 2px #BBB;
            box-shadow: 0px 2px #BBB;
}

.padding {
    padding: 7px;
}

.no-padding {
    padding: 0;
}

#main-content {
    padding: 15px;
}

.bmgfooter {
    bottom: 0;
    /*color: #008BB9; */
    color: black;
}

/* body {
    background-color: #D6D6D6;
} */

