.dashcard-container{
}
.dashcard{
	text-align: left;
	vertical-align: top;
	display: inline-block;
	height: 185px;
	width: 300px;
	padding: 20px;
	margin: 20px;
	background: #eee;
	box-shadow: 5px 5px 10px #0078A0;	
	color: #555;
}
.dashcard-title{
	font-size: 120%;
	/*margin-bottom: 10px;*/
	font-weight: bold;
}
.dashcard-description{
	font-style: italic;
	font-size: 80%;
	color: #555;
}
.dashcard-creator{
	font-size: 80%;
	
}
.dashcard-prize{
	font-size: 80%;
	/*margin-bottom: 10px;*/

}
