html, body {
    background: url('/static/img/lego_yellow.jpg');
    background-size: auto 100%;
    background-position: center;
}

.card-holder-background{
	height:100%;
	width: 80%;
	min-width: 400px;
	max-width: 1000px;
	margin: -15px auto;
	padding: 15px 40px;
    background-color: rgba(200, 200, 200, 0.75);
    border-left: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
    border-right: 1px solid #AAA;
    z-index: -10;
}

.dashcard-container li{
    text-align: center;
}
.dashcard-holder{

    display: inline-block;
/*	height: 300px;
	width: 360px;
*/	height: 300px;
	width: 100%;
	/*margin: 20px;*/
    position: relative;
}
.join-button{
	margin: 10px;
	display:none;
}
.view-button{
	margin: 10px;
	display:none;
}
.dashcard{
    position: absolute;
	text-align: left;
	vertical-align: top;
    left: 0;
    top: 0;
	height: 100%;
	width: 100%;
	/*padding: 20px;*/
	color: #333;
/*    box-shadow: 1px 5px 5px #AAA;
*/    background-color: #FFF;
}
.dashcard-overlay{
    cursor: pointer;  
    position: absolute;
    left: 0;
    top: 0;
	height: 50%; 
	width: 100%;
    line-height:130px;
    /*background-color: rgba(100,100,100,0.1);*/
    background-color: transparent;
    z-index: 10;
}
/*.dashcard-overlay:hover{
    background: rgba(50,50,50, 0.8)
}
*/.dashcard-img{
	height: 50%;
	width: 100%;
	overflow: hidden;
	/*margin: -20px 0px 0px -20px;*/
/*	background-image: url('../img/trophy.gif') ;
*/	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../img/trophy.gif');
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../img/trophy.gif');
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../img/trophy.gif');
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../img/trophy.gif');
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url('../img/trophy.gif');
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../img/trophy.gif');
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.dashcard-img img{
	width: 100%;
}
.dashcard-title{
	font-size: 120%;
	font-weight: bold;
	padding: 0px 20px;
}
.dashcard-description{
	font-style: italic;
	font-size: 80%;
	color: #333;
	padding: 0px 20px;
}
.dashcard-creator{
	font-size: 80%;
	padding: 0px 20px;
	
}
.dashcard-prize{
	font-size: 80%;
	padding: 0px 20px;
}
