html, body {
    background-color: inherit;
}

#background-overlay {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    z-index:-1;
    background: 
        linear-gradient(
          rgba(0, 0, 0, 0.65), 
          rgba(0, 0, 0, 0.65)
        ),
        url("http://beatmygoalfiles.s3.amazonaws.com/img/index_img.jpg");
    background-position: 50% 80%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 2080 auto;
}

.register-box {
    margin: 0 auto;
    margin-top: 200px;
    z-index: 2;
    background-color: #FFF;
}

.border-left {
    border-left: 1px solid #000;
}

.outline {
    outline: 1px solid #888;
    outline-offset: 10px;
}

.float-right {
    float: right;
}

footer {
    color: #FFF;
}
