html, body {
    background: 
        linear-gradient(
          rgba(0, 0, 0, 0.25), 
          rgba(0, 0, 0, 0.25)
        ),
        url("/static/img/index_img2.jpg");
    background-size: auto 100%;
    background-position: center;
}

.register-box {
    margin: 0 auto;
    margin-top: 200px;
    z-index: 2;
    background-color: #FFF;
}

.border-left {
    border-left: 1px solid #000;
}

.outline {
    outline: 1px solid #888;
    outline-offset: 10px;
}

.float-right {
    float: right;
}

footer {
    color: #FFF;
}
