{% load staticfiles %}

<html class="no-js" lang="en">

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{% static 'css/foundation.css' %}" />
<link rel="stylesheet" href="{% static 'css/base.css' %}" />
<script src="{% static 'js/vendor/modernizr.js' %}"></script>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<script src="{% static "js/vendor/jquery.js" %}"></script>
<script src="{% static "js/foundation.min.js" %}"></script>
<script src="{% static 'js/constants.js' %}"></script>
<script src="{% static 'js/foundation/foundation.equalizer.js' %}"></script>

<script src="{% static 'js/venmo/venmoLogin.js' %}"></script>

<div class="row" id="venmo-option">
  {% if is_authentificated_venmo %}
    <p><span style="text-decoration: blink;"><font color="green">Your Venmo account has been connected</font></p>
    Username : {{data.user.display_name | default:'N/A'}}		<br>
    Balance : {{data.balnace | default:'N/A'}}		<br>
    Email : {{data.user.email | default:'N/A'}}		<br>
    Phone : {{data.user.phone | default:'N/A'}}		<br>
    <br>

    <!-- Venmo Testing
    <p> The following payment form is for Payment Testing </p>

  	<label>Giver Name <br>
    (type correct "BeatMyGoal USER ID" used when login)
  	<input id="giver" type="text" required />
  	</label>

  	<label>Receiver Name <br>
    (type correct "BeatMyGoal USER ID" having a valid email address)
  	<input id="receiver" type="text" required />
  	</label>

  	<label>Amount <br>
    payment : (+) value / charge : (-) value
  	<input id="amount" type="text" required />
  	</label>
     
  	<input id="payment" type="button" class="tiny button left radius" value="payment"> 
    -->
    <input id="vm_logout" type="button" class="tiny button right radius left" value="Logout" style="background: #DA5C5C">

  {% else %}
    <p><font color="red">Your Venmo account has not been connected</font></p>
    <input id="get_vm_token" type="submit" class="tiny button radius right" value="Connect Venmo">

  {% endif %}

</div>