{% load staticfiles %}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}BeatMyGoal{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}" />
    <script src="{% static 'js/vendor/modernizr.js' %}"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <script src="{% static "js/vendor/jquery.js" %}"></script>
    <script src="{% static "js/foundation.min.js" %}"></script>
    <script src="{% static 'js/foundation/foundation.equalizer.js' %}"></script>
  </head>

  <body>


    {% include "topbar.html" %}
    
    <div id="main-content">
      {% block content %}
      {% endblock %}
    </div>



    <footer class="row">
      <div class="large-12 columns">
        <hr />
        <div class="row">
          <div class="large-8 columns">
            <p> <font size = "2"> Sol Park, Hyosang (Kyle) Kim, Jay Patel, Arjun Rao, Chang (Tim) Hyon, Hyun (Chris) Ho Kim</font> </p>
          </div>
          <div class="large-3 columns">
            <ul class="inline-list right">
              <p>&copy; BeatMyGoal </p>
            </ul>
          </div>
        </div>
      </div> 
    </footer>

    <script>
      $(document).foundation();
    </script>
  </body>
</html>
