{% extends "base.html" %}

{% block title %}Edit Profile{% endblock %}

{% block content %}

<form>
	<div class="row">
		<div class="large-6 columns">
			<label for="fname"> First Name
				<input id='fname' type="text" placeholder="First Name">
			</label>
		</div>
		<div class="large-6 columns">
			<label for'lname'>Last Name
				<input id='lname' type="text" placeholder="Last Name">
			</label>
		</div>
	</div>
	<div class="row">
		<div class="large-6 columns">
			<label for="username">Username
				<input id='username' type="text" placeholder="Username" value="{{ username|default:'' }}">
			</label>
		</div>
		<div class="large-6 columns">
			<label for='email'>Email
				<input label='email' type="text" placeholder="Email" value="{{ email|default:'' }}">
			</label>
		</div>
	</div>
</form>

{% endblock %}