{% load staticfiles %}

<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>BeatMyGoal Invitation</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
    
    
<body style="margin: 0; padding: 0;">
 <table style="border: 1px solid #cccccc;" align="center" border="0" cellpadding="0" cellspacing="0" width="600" >
 <tr>
  <td align="center" bgcolor="#70bbd9" style="padding: 40px 10px 30px 10px;">
 <img src="/static/img/bmg.png" alt="BMG" width="300" height="230" style="display: block;" />
</td>
 </tr>
 <tr>
  <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
 <table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
   <td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
    Chris challenged you to beat his goal!
   </td>
  </tr>
  <tr>
   <td style="color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px; padding: 20px 0 30px 0;">
   BeatMyGoal is a competitive social web app which will allow users to describe and publish goals, and invite friends to join them in this goal. Users are able to set a prize for completing the goal. The users compete in order to reach the goal first, and log their progress through our online platform. The first member to reach the goal wins the prize.
  </td>
  </tr>
  <tr>
   <td>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
 <tr>
  <td width="260" valign="top" >
   <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
     <td>
      <img src="/static/img/left.png" alt="" width="100%" height="140" style="display: block;" />
     </td>
    </tr>
    <tr>
     <td style="color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
      You can collaborate, or compete with your friend to reach any goals! BeatMyGoal is awesome yay what do I write here I don't know
     </td>
    </tr>
   </table>
  </td>
  <td style="font-size: 0; line-height: 0;" width="20">
   &nbsp;
  </td>
  <td width="260" valign="top">
   <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
     <td>
      <img src="/static/img/rigiht.png" alt="" width="100%" height="140" style="display: block;" />
     </td>
    </tr>
    <tr>
     <td style="color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
       You can collaborate, or compete with your friend to reach any goals! BeatMyGoal is awesome yay what do I write here I don't know. But continue writing so it fills the column
     </td>
    </tr>
   </table>
  </td>
 </tr>
</table>
   </td>
  </tr>
 </table>
</td>
 </tr>
 <tr>
  <td bgcolor="#ee4c50" style="padding: 30px 30px 30px 30px;">
 <table border="0" cellpadding="0" cellspacing="0" width="100%">
 <tr>
  <td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;">
 &reg; BeatMyGoal 2014<br/>
 <a href="#" style="color: #ffffff;"><font color="#ffffff">Unsubscribe</font></a> email from us instantly
</td>
  <td align="right">
 <table border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td>
    <a href="http://www.twitter.com/">
     <img src="/static/img/twitter.svg" alt="Twitter" width="38" height="38" style="display: block;" border="0" />
    </a>
   </td>
   <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
   <td>
    <a href="http://www.twitter.com/">
     <img src="/static/img/facebook.svg" alt="Facebook" width="38" height="38" style="display: block;" border="0" />
    </a>
   </td>
  </tr>
 </table>
</td>
 </tr>
</table>
</td>
 </tr>
</table>
</body>

</html>