{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block content %}
<script src="{% static 'js/foundation/foundation.equalizer.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/index.css' %}"/>



<div style="background: rgba(200, 200, 200, 0.65)" class="row outline panel register-box">
  <div class="large-6 columns ">
    <div class="row">
      <h2>Welcome to Beat My Goal!</h2>
    </div>
    <div class="row">
      <div class="large-12 hide-for-medium-down columns">
        <h5 >How it Works:</h5>
        <ul >
          <li>Find goals you want achieve</li>
          <li>Join in and log your progress</li>
          <li>Win prizes and brag to your friends</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="large-6 columns border-left">
    <form data-abide id="register-form" >
      <div class="row">
        <div class='small-12 medium-6 columns'>
          <label for='username'>Username
            <input id="register-username" type="text" required pattern="alpha_numeric"/>
            <small id="username-error" class="error">Usernames can only contains letters or numbers.</small>
          </label>
        </div>

        <div class="email-label small-12 medium-6 columns">
          <label for='email'>Email
            <input id="register-email" type="email" required  />
            <small id="email-error" class="error">An email address is required.</small>
          </label>
        </div>
      </div>
      
      <div class="row">
        <div class="password-label small-12 medium-6 columns">
          <label for='password'>Password
            <input id="register-password" type="password" required pattern="[a-zA-Z0-9]+" />
            <small id="password-error" class="error">A password is required. Only alpha-numeric characters are allowed.</small>
          </label>
        </div>
         <div class="small-12 medium-6 columns">
     <br>
     <input id="register-submit" type="submit" class="float-right button small" value="Get Started">
         <!-- <label >Confirm Password</label> -->
         <!-- <input id="" type="password" required pattern="[a-zA-Z0-9]+" /> -->
         <!-- <small id="" class="error">A password is required. Only alpha-numeric characters are allowed.</small> -->
       </div> 
      <hr style="border-color:black">
      <a href="/users/login/fb" id ="facebook-login" type="submit" class="float-right button small" style="background-color:#3B5998;">
  <i class="fa fa-facebook" style="margin-right:10px;"></i> Login with Facebook</a>
      </div>
    </form>
  </div>
</div>

{% endblock %}
