{% extends "base.html" %}

{% block title %}BeatMyGoal{% endblock %}

{% block content %}
<div class="row">
  <div class="large-12 columns">
    <h1>Welcome to BeatMyGoal!</h1>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    <div class="panel">
      <p>BeatMyGoal is a new platform to manage and track your goals, and compete with your friends to reach them.</p>

      <b>Steps:</b>
      <ul>
	<li>Create an account.</li>
	<li>Set your first goal, for example, "Learn to cook homemade Italian food". Set a time-limit or a goal number you want to reach.</li>
	<li>Set a prize for <em>when</em> (not, if) you reach your goal!</li>
	<li>Invite your friends to join in and compete. The highest achiever can win the prize.</li>
	<li>Login frequently to log and share your progress!</li>
      </ul>

    </div>
    </div>
  <div class="large-6 columns">
    <div class="panel">
      <label>Username</label>
      <input type="text" placeholder="" />

      <label>Email</label>
      <input type="text" placeholder="" />

      <label>Password</label>
      <input type="text" placeholder="" />

      <a id = "Register" type="submit" class="button">Register</a>
      <br>
    </div>

    <!-- todo, trending goals now -->
  </div>
</div>
</div>





{% endblock %}
