{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<form>
	<div class="row">
		<div class="large-6 columns">
			<label for=“username”> Username
				<input id=‘username’ type="text" placeholder=“Username”>
			</label>
		</div>
		<div class="large-6 columns">
			<label for=“password”> Password
				<input id=‘password’ type="text" placeholder=“Password”>
			</label>
		</div>
	</div>

	<div class="row">
		<div class="larger-12 columns">
			<input id=“register” type="button" value=“Register”>
			<input id=“login” type="button" value=“Login”>
		</div>

	</div>
</form>

{% endblock %}