{% extends "base.html" %}

{% block title %}Edit Profile{% endblock %}

{% block content %}

{% csrf_token %}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

<form name = "myform">

	<div class="row">
		<div class="large-6 columns">
			<label for="Username"> Username
				<input id='Username' type="text" value="">
			</label>
		</div>
		<div class="large-6 columns">
			<label for = "Email"> Email
				<input id='Email' type="text" value="">
			</label>
		</div>
	</div>


	<div class="row">
		<div class="large-6 columns">
			<label for="First Name"> First Name
				<input id='First_Name' type="text" value="">
			</label>
		</div>
		<div class="large-6 columns">
			<label for="Last Name"> Last Name
				<input id='Last_Name' type="text" value="">
			</label>
		</div>
	</div>


	<div class="row">
		<div class="large-6 columns">
			<label for="Error Code"> Error Code
				<input id='Error_Code' type="text" value="">
			</label>
		</div>
		<div class="large-6 columns">
			<label for="Userid"> Userid
				<input id='Userid' type="text" value="">
			</label>
		</div>
	</div>

	<div class="row">
		<ul class="button-group right">
			<li><a id = "reset_button" type="submit" class="button">Reset</a></li>
		 	<li><a id = "view_user_button" type="submit" class="button">View User</a></li>
		  	<li><a id = "edit_user_button" type="submit" class="button">Edit User</a></li>
			</ul>

	</div>

	
	<center>
	"Reset" : Reset all input box <BR> 
	"View User" : load "userid" and show the information of the id <BR> 
	"Edit User" : load every info above, edit userinfo to our database
	 <p><div id="message" class="message"></div>



	</center>

</form>

<script type="text/javascript">

$(document).ready(function() {

});


/* Reset button
	clean all input boxes */
$('#reset_button').click(function() {
	document.getElementById('Username').value = "";
	document.getElementById('Email').value = "";
	document.getElementById('First_Name').value = "";
	document.getElementById('Last_Name').value = "";
	document.getElementById('Error_Code').value = "";
	document.getElementById('Userid').value = "";

	$('#message').html("***** Reset button pushed ******")

	return false

});


/* View User button
	Load user info by userid and put them into input boxes */
$('#view_user_button').click(function() {
	userid = $('#Userid').val()
	userid = parseInt(userid)

	$.ajax({
		type: "POST",
		url: "/users/test/view",
		data: JSON.stringify({
		user_id: userid
		}),
		success: function(data) {
			document.getElementById('Username').value = data["username"];
			document.getElementById('Email').value = data["email"];
			document.getElementById('First_Name').value = data["firstName"];
			document.getElementById('Last_Name').value = data["lastName"];
			document.getElementById('Error_Code').value = data["errCode"];
	    },
		contentType: "application/json",
		dataType: "json",
	});

	$('#message').html("***** View User button pushed ******")
   	return false;

});


/* View User button
	Edit all information of the user (userid) with the values of input boxes */
$('#edit_user_button').click(function() {

   	$('#message').html("***** Edit User button pushed ******")

   	return false;
});

</script>

{% endblock %}