{% load staticfiles %}
<script src = "{% static 'js/users/topbar.js' %}"></script>
<nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="/"><i class="fa fa-trophy"></i> BeatMyGoal</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>

      <section class="top-bar-section">


        <!-- Right Nav Section -->
        <ul class="right">
	  {% if not user.is_authenticated %}
          <li class="active">

            <a href="#" data-dropdown="loginDrop">Login</a>
            <div id="loginDrop" class="f-dropdown content">
              <label for="username"></label><input type="text" placeholder='Username' id='username'>
              <label for="password"></label><input type="password" placeholder='Password' id='password'>
                <div class="row">
                  <a id = "Login" type="submit" class="button tiny">Login</a> 
    	         <hr>
                <a href="/users/create" id ="Register" type="submit" class="button tiny">New User?</a>
              </div>
            </div>
          </li>
	  {% else %}
          <li class="active"><a href="/users/profile">{{ user.username }}</a></li>
	  <li><a href="/users/logout">Logout</a></li>
	  {% endif %}


        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
	  
	  <li><a href="/dashboard">Browse Goals</a></li>

	  {% if user.is_authenticated %}
          <li><a href="/users/profile">My Profile</a></li>
          <li><a href="/goals/create">Create Goal</a></li>
	  {% else %}
          <li><a href="/users/create">Register</a></li>
	  {% endif %}
          

        </ul>
      </section>
    </nav>

