    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="/"><i class="fa fa-trophy"></i> BeatMyGoal</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="active">
            <a href="#" data-dropdown="loginDrop">Login</a>
            <div id="loginDrop" class="f-dropdown content">
              <label for="username"></label><input type="text" placeholder='Username' id='username'>
              <label for="password"></label><input type="password" placeholder='Password' id='password'>
                <div class="row">
                <a id = "Login" type="submit" class="button tiny">Login</a> 
    	         <hr>
                <a href="users/create" id ="Register" type="submit" class="button tiny">New User?</a>
              </div>
            </div>
          </li>

        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
          <li><a href="#">Dashboard</a></li>

          <!-- If request.user.is_authenticated(), hide these two buttons -->
          <li><a hreft="#">My Profile</a></li>
          <li><a hreft="#">Goals</a></li>
          
          <li><a hreft="#">Users</a></li>
          <li><a hreft="#">Search Goals</a></li>
        </ul>
      </section>
    </nav>
