{% extends "base.html" %}


{% load staticfiles %}

{% block title %}Venmo Payment{% endblock %}

{% block content %}



<ul>
<form action="{{form_action}}" method="POST">
  	User_Info : <br>
  	{{user_info}}
</form>
</ul>

<br>

<ul>
	Access_Token : <br>
	{{ access_token }}
</ul>

<input id="button" type="button" class="small button left radius" value="button"> 
<input id="second" type="button" class="small button left radius" value="second"> 

<script src="{% static 'js/venmo.js' %}"></script>



{% endblock %}
