{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Create Goal{% endblock %}

{% block content %}

<!-- 
Note - will fix later
4. goal image upload
5. Collaborative vs Competitive - should be done with model work and integrate with this.
 -->

<script src="{% static 'js/goals/createGoal.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/goals/createGoal.css' %}" />


<div class="row collapse card">
  
  <!-- Create Goal Page Title -->
  <div class="row card" style="background-color: #DA5C5C">
    <div class="medium-8 columns">
      <h2><font color="white">Create Goal</font></h2>
    </div>
  </div>



  <!-- Photo -->
  <div class="row card">
    <div class="small-12 columns no-padding goal-picture-container">
      <!-- <img src="http://placehold.it/1080x300&text=goalPhoto" /> -->
    </div>
  </div>



  <!-- Setup Tabs -->
  <div class="row center" style="margin-top: 0rem; margin-bottom: 0rem; background-color: #AAA;">
    
    <!-- tabs classification-->
    <div class="small-10 small-centered columns" style="padding-bottom: 0.2rem; padding-top: 0.2rem;">
      
      <!-- normal tabs (steps) -->
      <dl class="tabs" data-tab>
        <dd style="pointer-events: none;"><a> <i class="fa fa-check" id="step1_check"> </i> Choose Goal Type</a></dd>
        <dd style="pointer-events: none;"><a> <i class="fa fa-arrow-right" style="color:black"> </i> </a></dd>
        <dd style="pointer-events: none;"><a> <i class="fa fa-check" id="step2_check"> </i> Setup Goal</a></dd>
        <dd style="pointer-events: none;"><a> <i class="fa fa-arrow-right" style="color:black"> </i> </a></dd>
        <dd style="pointer-events: none;"><a> <i class="fa fa-check" id="step3_check"> </i> Deadline</a></dd>
        <dd style="pointer-events: none;"><a> <i class="fa fa-arrow-right" style="color:black"> </i> </a></dd>
        <dd style="pointer-events: none;"><a> <i class="fa fa-check" id="step4_check"></i> Prize / Payment</a></dd>
      </dl>

      <!-- hidden tabs (used for navigation by prev,next button) -->
      <dl class="tabs" id="hidden_tabs" data-tab>
        <dd class ="active"> <a href="#step1" id="step1"> </a> </dd>
        <dd> <a href="#step2" id="step2"> </a> </dd>
        <dd> <a href="#step3" id="step3"> </a> </dd>
        <dd> <a href="#step4" id="step4"> </a> </dd>
      </dl>

    </div>


    <!-- setting each tabs -->
    <div class="tabs-content">

      <!-- Choose Goal Type tab -->
      <div class="content active" id="step1">
        <div class="row card">
          <div class="panel" data-equalizer-watch>
          <div align = "right"> <p>Step 1/4</p> </div>
            <div data-abide id="register-form" style="float: none">
              <center><h3>Choose a Goal Type</h3></center>
              <br>
              
              <!-- Type select box -->
              <div class="row">
                <div class="large-7 large-centered columns">
                  <label for='GoalType'>
                    <select id="goal_type" required/>
                      <option value="default" selected> Select Goal Type </option>
                      <option value="Collaborative">Collaborative</option>
                      <option value="Competitive">Competitive</option>                    
                    </select>
                    <small id="goal-type-error" class="error">Goal Type must be specified</small>
                  </label>
                  
                
                  <!-- when Collaborative selected-->
                  <div class="row" id="Collaborative">
                    <p>You can collaborate with your friends to reach your goal</p>
                    <img src="{% static 'img/collaborative.jpg' %}" style="width:100%;height:100%;margin-bottom: .5rem" /> 
                    <!-- next button -->
                  </div>

                  <!-- when Competitive selected-->
                  <div class="row" id="Competitive">
                    <p>You can compete with your friend to reach your goal</p>
                    <img src="{% static 'img/competitive.jpg' %}" style="width:100%;height:100%;margin-bottom: 1rem"> 
                    <!-- next button -->
                  </div>
                  <input id="next_button_step1" type="submit" class="small button right radius" value="Next">
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Setup Goal tab-->
      <div class="content" id="step2">

        <div class="row card">
          <div class="panel" data-equalizer-watch>
            <div align = "right"> <p>Step 2/4</p> </div>
            <div data-abide id="register-form" >
              <div class="large-10 large-centered columns" style="float: none">
                
                <center><h5> Your Goal Type: </h5> <h3 id="selected_goal_type"></h3></center>

                <div class="row">
                  <div class="large-12 columns">
                    <label for='title'>Title
                      <input id="register-title" type="text" placeholder = "example : Raise $500 for 'American Heart Association'" required />
                      <small id="title-error" class="error">A title is required</small>
                    </label>
                  </div>
                </div>

                <div class="row">
                  <div class="large-12 columns">
                    <label for='description'>Description
                      <input id="register-description" type="text" required />
                      <small id="description-error" class="error">A description is required</small>
                    </label>
                  </div>
                </div>

                <div class="row">
                  <div class="large-8 columns">
                    <label for='ending_value'>Ending Value (number)
                      <input id="register-end-value" type="number" placeholder="example : 500" required />
                      <small id="end-value-error" class="error">End-Value must be specified and numerical value</small>
                    </label>
                  </div>

                  <div class="large-4 columns">
                    <label for='value_unit'>Value Unit
                      <input id="register-value-unit" type="text" placeholder="example : dollar" required />
                      <small id="unit-error" class="error">Units must be specified</small>
                    </label>
                  </div>
                </div>
                
                <div class="row">

                  <div class="large-4 columns">
                    <label for='private_setting'>Is Private?
                      <input id="register-private-setting" type="checkbox"/>
                    </label>
                  </div>
                </div>

                <div class="row">
                  <div class="large-12 columns">
                    <!-- prev button -->
                    <input id="prev_button_step2" type="submit" class="small button left radius" value="Prev">
                    <!-- next button -->
                    <input id="next_button_step2" type="submit" class="small button right radius" value="Next">
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Deadline tab-->
      <div class="content" id="step3">
        <div class="row card">
          <div class="panel" data-equalizer-watch>
            <div align = "right"> <p>Step 3/4</p> </div>
            <div data-abide id="register-form" >
              <div class="large-5 large-centered columns" style="float: none">

                <div class="row">
                  <center><h3>DeadLine</h3></center> <br>
                  <p> If you'd like to set a deadline to meet your goal, check the following box and select your deadline:</p>

                  <div class="dead-line-label">
                    <input id="deadline" type="checkbox"><label for="checkbox1">Deadline</label>
                  </div>

                  <div class="end-time-label">
                    <label>Ending Date</label>
                      <meta charset="utf-8">
                      <title>jQuery UI Datepicker - Default functionality</title>
                      <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
                      <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
                      <script> $(function() { $( "#datepicker" ).datepicker(); }); </script>
                    <label for='ending'>
                      <input type="text" id="datepicker">
                      <small id="ending-error" class="error">Date is required if you select deadline</small>
                    </label>
                  </div>

                  <!-- prev button -->
                  <input id="prev_button_step3" type="submit" class="small button left radius" value="Prev">
                  <!-- next button -->
                  <input id="next_button_step3" type="submit" class="small button right radius" value="Next">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      
      <!-- Payment tab-->
      <div class="content" id="step4">
        <div class="row card">
          <div class="panel" data-equalizer-watch>
          <div align = "right"> <p>Step 4/4</p> </div>
            <div data-abide id="register-form" >

              <div class="row">
                <div class="large-5 large-centered columns">
                  
                  <center><h3> Payment System </h3></center>

                  <div class="prize-label">
                    <label for='prize'>Prize
                        <input id="register-prize" type="text" placeholder="example : $20" required />
                        <small id="prize-error" class="error">A Prize is required</small>
                    </label>
                  </div>

                  <center><img src="{% static 'img/paypal.jpeg' %}" /></center>
                  <br><br>
                  <p> Coming soon.... </p>

                  <!-- prev button -->
                  <input id="prev_button_step4" type="submit" class="small button left radius" value="Prev">

                  <!-- submit button -->
                  <input id="register-submit" type="submit" class="small button right radius" value="Create" style="background: #DA5C5C">
                
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
  
<!--Tutorial-->

<script>

function getQueryVariable(variable) {
  var query = window.location.search.substring(1);
  var vars = query.split("&");
  for (var i=0;i<vars.length;i++) {
    var pair = vars[i].split("=");
    if (pair[0] == variable) {
      return pair[1];
    }
  } 
}
</script>

<ol id = "joyride_tour" class="joyride-list" data-joyride>
  <li data-button="End Tour" >
    <h3>Create Goal</h3><hr />
    <p> Is there anything you should do, you know for certain you can do, yet you never did? BeatMyGoal deals with the problem of motivation. Create goal here and compete/collaborate with friends to accomplish your goal! </p>
  </li>
</ol>

<script>

if (getQueryVariable("tutorial")){
$(function(){  
    $(document).foundation();
});

$(document).ready(function(){
   $(document).foundation('joyride', 'start');
});
}
</script>

{% endblock %}
