{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Create Goal{% endblock %}

{% block content %}

<!-- 
Note - fix later
1. check mark in tabs (only check when each step complited)
2. (prev, next button) or (indicating which step has error)
3. showing goal type after "your goal type : " in Setup Goal page.
4. goal image upload
5. new goal type(only frontent) - Collabolarative vs Competitive
 -->

<script src="{% static 'js/goals/createGoal.js' %}"></script>

<link rel="stylesheet" href="{% static 'css/goals/createGoal.css' %}" />
<link rel="stylesheet" href="{% static 'icons/foundation-icons.css' %}"/>



<div class="row collapse card">
  
  <!-- Create Goal Page Title -->
  <div class="row card">
    <div class="medium-8 columns">
      <h2><font color="white">Create Goal</font></h2>
    </div>
  </div>


  <!-- Photo -->
  <div class="row card">
    <div class="small-12 columns no-padding goal-picture-container">
      <img src="http://placehold.it/1080x300&text=goalPhoto" />
    </div>
  </div>


  <!-- Setup Tabs -->
  <div class="row center">
    
    <!-- tabs classification-->
    <div class="small-8 large-centered columns">
      <dl class="tabs" data-tab>
        


        <dd class="active">
          <a href=""> <i class="step fi-check"></i> Choose Goal Type</a>
        </dd>
        <dd>
          <a href=""> <i class="step fi-check"></i> Setup Goal</a>
        </dd>
        <dd>
          <a href=""> <i class="step fi-check"></i> Deadline</a>
        </dd>
        <dd>
          <a href=""> <i class="step fi-check"></i> Prize / Payment</a>
        </dd>

      </dl>
    </div>
    

    <!-- setting each tabs -->
    <div class="tabs-content">


      <!-- Choose Goal Type tab -->
      <div class="content active" id="step1">
        <div class="row card" stype="height: 500px">
          <div class="panel" data-equalizer-watch>
            <div data-abide id="register-form" >
              <center><h3>Choose a Goal Type</h3></center>
              <br>
              
              <!-- Type select box -->
              <div class="row">
                <div class="large-5 large-centered columns">
                  <label>
                    <select id="goal_type">
                      <option value="default" selected> Select Goal Type </option>
                      <option value="Collaborative">Collaborative</option>
                      <option value="Competitive">Competitive</option>                    
                    </select>
                  </label>
                </div>
              </div>
              
              <!-- when Collabolarative selected-->
              <div class="row" id="Collaborative">
                <center>
                  <p>You can collaborate with your friends to reach your goal</p>
                  <img src="{% static 'img/Collaborative.jpg' %}" style="width:50%;height:50%" /> 
                </center>
                <!-- TEMP button.. Fix later-->
                <dl class="tabs radius right"  data-tab>
                  <dd><a href="#step2" style="background: cornflowerblue"> Next </a></dd>
                </dl>
              </div>
              <!-- when Competitive selected-->
              <div class="row" id="Competitive">
                <center>
                  <p>You can compete with your friend to reach your goal</p>
                  <img src="{% static 'img/competitive.jpg' %}" style="width:50%;height:50%" /> 
                </center>
                <!-- TEMP button.. Fix later-->
                <dl class="tabs radius right"  data-tab>
                  <dd><a href="#step2" style="background: cornflowerblue"> Next </a></dd>
                </dl>
              </div>

            </div>
          </div>
        </div>
      </div>


      <!-- Setup Goal tab-->
      <div class="content" id="step2">

        <div class="row card">
          <div class="panel" data-equalizer-watch>
            <div data-abide id="register-form" >


              <div class="large-10 large-centered columns">
                <div>
                  <center><h3> Your Goal Type: </h3></center>
                </div>
                
                <div class="large-12 columns">
                  <label for='title'>Title
                    <input id="register-title" type="text" placeholder = "example : Raise $500 for 'American Heart Association'" prequired />
                    <small id="title-error" class="error">A title is required</small>
                  </label>
                </div>

                <div class="large-12 columns">
                  <label for='description'>Description
                    <input id="register-description" type="text" required  />
                    <small id="description-error" class="error">A description is required</small>
                  </label>
                </div>

                <div class="large-8 columns">
                  <label>Ending Value</label>
                  <input id="register-end-value" type="text" placeholder="example : 500" required />
                  <small id="end-value-error" class="error">End-Value must be specified</small>
                </div>
                <div class="large-4 columns">
                  <label>Value Unit</label>
                    <input id="register-value-unit" type="text" placeholder="example : dollar" required />
                    <small id="unit-error" class="error">Units must be specified</small>
                </div>

                <!-- TEMP button.. Fix later-->
                <dl class="tabs radius left"  data-tab>
                  <dd><a href="#step1" style="background: cornflowerblue"> Prev </a></dd>
                </dl>
                <dl class="tabs radius right"  data-tab>
                  <dd><a href="#step3" style="background: cornflowerblue"> Next </a></dd>
                </dl>

              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Deadline tab-->
      <div class="content" id="step3">
        <div class="row card">
          <div class="panel" data-equalizer-watch>
            <div data-abide id="register-form" >
              
              <div class="large-5 large-centered columns">
                <center><h3>DeadLine</h3></center> <br>
                <p> If you'd like to set a deadline to meet your goal, check the following box and select your deadline:</p>

                <div class="dead-line-label">
                  <input id="deadline" type="checkbox"><label for="checkbox1">Deadline</label>
                </div>

                <div class="end-time-label">
                  <label>Ending Date</label>
                    <meta charset="utf-8">
                    <title>jQuery UI Datepicker - Default functionality</title>
                    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
                    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
                    <script> $(function() { $( "#datepicker" ).datepicker(); }); </script>
                  <label for='ending'>
                    <input type="text" id="datepicker">
                    <small id="ending-error" class="error">Invalid Date</small>
                  </label>
                </div>

                <!-- TEMP button.. Fix later-->
                <dl class="tabs radius left"  data-tab>
                  <dd><a href="#step2" style="background: cornflowerblue"> Prev </a></dd>
                </dl>
                <dl class="tabs radius right"  data-tab>
                  <dd><a href="#step4" style="background: cornflowerblue"> Next </a></dd>
                </dl>


              </div>
            </div>
          </div>
        </div>
      </div>

      
      <!-- Payment tab-->
      <div class="content" id="step4">
        <div class="row card">
          <div class="panel" data-equalizer-watch>
            <div data-abide id="register-form" >

              <div class="large-5 large-centered columns">
                <center><h3> Payment System </h3></center>

                <div class="prize-label">
                  <label for='prize'>Prize
                      <input id="register-prize" type="text" placeholder="example : $20" required />
                      <small id="prize-error" class="error">A Prize is required</small>
                  </label>
                </div>

                <br>
                <center><img src="{% static 'img/paypal.jpeg' %}" /></center>
                <br><br>
                <p> Coming soon.... </p>

                <!-- TEMP button.. Fix later-->
                <dl class="tabs radius left"  data-tab>
                  <dd><a href="#step3" style="background: cornflowerblue"> Prev </a></dd>
                </dl>
                <input id="register-submit" type="submit" class="button right radius" value="Create">

              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>
  



{% endblock %}
