{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Edit Goal{% endblock %}

{% block content %}

<script src="{% static 'js/goals/editGoal.js' %}"></script>

<form id="editForm" data-abide>
	<div class="row">
		<div class="large-6 columns">
			<label for="title"> Title
				<input id='title' type="text" placeholder="New Title" maxlength="50"  required />
				<small id="title-error" class="error">A title is required</small>
			</label>
		</div>
		<div class="large-6 columns">
			<label for='description'>Description
				<input id='description' type="text" placeholder="New Description" maxlength="130" required />
				<small id="description-error" class="error">A description is required</small>
			</label>
		</div>
	</div>
	

	<div class="row">
		<div class="larger-12 columns">
			<input id="save" type="button" class="button small radius" value="Save">
			<input id="cancel" type="button" class="button small radius" value="Cancel">
			<input type="button" id="delete_goal_button2" data-reveal-id="firstModal" class="button small radius alert" value="Delete">
			
		</div>
		
	</div>

</form>




<!-- Reveal Modals begin -->
<div id="firstModal" class="reveal-modal medium" style="display: none" data-reveal>
  <h2> Are you sure you want to delete this goal?</h2>
  <br>
  <p>If you select "Yes", this goal will be <code>permanently deleted</code>. </p>
  <p>Click "No", If you don't want to delete this goal.</p>
  <ul class="button-group right">
    <li><a id = "delete_goal_button" class="button large pull-2 radius alert"> YES </a></li>
    <li><a id = "No_button" class="button large  radius"> NO </a></li>
  </ul>
  <a class="close-reveal-modal">&#215;</a>
</div>



{% endblock %}

