<div id="myModal" class="reveal-modal small" data-reveal>
    <h2>Log Your Progress For the Day!</h2>
    <br>
    <div class="row">
        <div class="large-8 columns"> 
            <div class="row collapse">
                <div class="small-9 columns">
                    <input type="text" placeholder="1" />
                </div>
                <div class="small-3 columns">
                    <span class="postfix">{{ goal.unit }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-8 columns"> 
            <div class="row collapse">
                <div class="small-12 columns">
                    <a id = "submit_log_button" type="submit" class="button tiny">Submit</a>
                </div>
            </div>
        </div>
    </div>
        
    <a class="close-reveal-modal">&#215;</a>
</div>
