{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{{ goal.title }}{% endblock %}

{% block content %}
<!doctype html>
  
<body>
    {% include "goals/logGoal.html" %}
  <div class="row" >        
    <!-- Main Content Section -->
    <div class="large-9 push-3 columns">
    
    <form data-abide>
      <fieldset>
      <legend> <h2> {{goal.title}}</h2></legend>

      <!--
      / Facebook login / Tweeter login
      -->  

        <div class="row" >
          <div class="large-6 columns">
            <h5 > Creator : {{ goal.creator.username }} </5>
          </div>
          <div class="large-6 columns">
            <h5> Creator Email : {{ goal.creator.email }} </h5>
          </div>
        </div>


      <div class="row">
        <div class="large columns">
          <h5> Description : {{ goal.description }} </5>
        </div>

      </div>

       <div class="row">
        <div class="large-6 columns">
          <h5> Prize : {{ goal.prize }} </h5>
        </div>
      </div>


      <div class="row">
          <div class="large-6 columns">
          <h5> Goal Type : {{ goal.goal_type }} </h5>
        </div>
      </div>

      <div class="row">
          <div class="large-6 columns">
          <h5> Ending Value : {{ goal.ending_value }} [ {{ goal.unit }} ]</h5>
        </div>
      </div>


      {% if goal.goal_type == "Time-based" %}

      <div class="row">
          <div class="large-6 columns">
          <h5> Deadline : {{ goal.ending_date.date }}  </h5>
        </div>
      </div>

      {% endif %}




     


      </fieldset>
    </form>

    <!-- buttons -->
    <div class="row">
  
      <ul class="button-group right">
        {% if isParticipant or isCreator %}
            <li><a id = "favorite_button" type="submit" class="round button tiny pull-5">Favorite</a></li>
        {% endif %}
        {% if isParticipant and not isCreator %}
            <li><a id = "leave_goal_button" type="submit" class="button tiny pull-3">Leave Goal</a></li>
        {% endif %}
        {% if isParticipant %}
            <li><a id = "log_button" data-reveal-id="myModal" data-reveal class="button tiny pull-3">Log Progress</a></li>
        {% elif not isCreator and user.is_authenticated %}
            <li><a id = "join_goal_button" type="submit" class="button tiny pull-3">Join Goal</a></li>
        {% endif %}
       

        {% if user.username == goal.creator.username %}

        <li><a href="#" data-reveal-id="reveal_edit" class="button tiny pull-3 alert">Edit Goal</a> </li>



        {% endif %}
      </ul>
    </div>


    <!-- Reveal Modals begin -->
<div id="reveal_edit" class="reveal-modal medium" style="display: none" data-reveal>
  <h2> Please Re-authenticate </h2>
  <br>
  <label for='password'>Confirm Password

    <input id='password' type="password" required/>
    <small id="password-error" style="display:None" class="error">A password is required</small>
  </label>

  <ul class="button-group right">
    <li><a id = "Confirm_button" class="button large pull-2 radius alert"> Confirm </a></li>
    <li><a id = "Back_button" class="button large  radius"> Back </a></li>
  </ul>
  <a class="close-reveal-modal">&#215;</a>
</div>







      
    
    <!-- tabs -->
    <dl class="section-container tabs" data-tab>
        <dd class="active"><a href="#panel2-1">Goal History</a></dd>
        <dd><a href="#panel2-2">Progress Graph</a></dd>
        <dd><a href="#panel2-3">Comments</a></dd>
      </dl>
      <div class="tabs-content">
     
        <div class="content active" id="panel2-1">
            <ul>
                {% for entry in goal.log.logentry_set.all %}

                <li>{{ entry.participant }} : {{ entry.entry_amount }}, {{ entry.comment }}</li>

                {% endfor %}
            </ul>
	  <!--
          <p> List Goal History </p>
          <p> List Goal History </p>
          <p> List Goal History </p>
          <p> List Goal History </p>
          <p> List Goal History </p> -->

        </div>
        <div class="content" id="panel2-2">
          <!-- <p> This feature is not implemented yet </p> -->
	  <p>Coming soon! </p>
        </div>


        <div class="content" id="panel2-3">
          <!-- <p> Coming soon on iteration 2 </p> -->
	  <p>Coming soon! </p>
        </div>

      </div>
    </div>

        

    <!-- Nav Sidebar (Left)-->
    <div class="large-3 pull-9 columns">
      
      <!-- List of uploaded documents -->
       <div style="width: 320px; height: 300px;">
	{% if image %}
	      <img src="{{goal_id.image.url}}" />
	      </div>
        {% else %}
	      <p>Select your profile photo.</p>
	      </div>
	{% endif %}			
      <!-- Upload form. Note enctype attribute! -->
		<form action={% url 'image_upload' goal_id  %} method="post" enctype="multipart/form-data">
			<p><input type="file" name="image" /></p>
			<p><input type="submit" value="Upload" /></p>
		</form>
      <form data-abide>
        <fieldset>
        <legend> <h3> Participants </h3></legend>
        <ul class="side-nav">
          {% for participant in goal.beatmygoaluser_set.all %} 

          <li><a href="/users/{{ participant.id }}">{{ participant.username }}</a></li>
          {% endfor %}
          
          
        </ul>
        </fieldset>
      </form>
    </div>
  

    <div style="display:none" id="username">{{ goal.creator.username }}</div>
  </body>
</html>

<script src="{% static 'js/goals/viewGoal.js' %}"></script>

{% endblock %}

