{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<!doctype html>
  
<body>

  <div class="row">        
    <!-- Main Content Section -->
    <div class="large-9 push-3 columns">
    
    <form data-abide>
      <fieldset>
      <legend> <h2> {{goal.title}}</h2></legend>

      <!--
      / Facebook login / Tweeter login
      -->  

      <div class="row">
        <div class="large-6 columns">
          <h5> Creator : {{ goal.creator.username }} </5>
        </div>
        <div class="large-6 columns">
          <h5> Creator Email : {{ goal.creator.email }} </h5>
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns">
          <h5> Description : {{ goal.description }} </5>
        </div>
        <div class="large-6 columns">
          <h5> Goal Type : {{ goal.goal_type }} </h5>
        </div>
      </div>

      <div class="row">
        <div class="large-6 columns">
          <h5> Created on : {{ goal.date_created }} </5>
        </div>
        <div class="large-6 columns">
          <h5> Prize : {{ goal.prize }} </h5>
        </div>
      </div>


      </fieldset>
    </form>

    <!-- buttons -->
    <div class="row">
      <ul class="button-group right">
        <li><a id = "join_goal_button" type="submit" class="button tiny pull-3">Join Goal</a></li>
        <li><a id = "edit_goal_button" type="submit" class="button tiny pull-5">Edit Goal</a></li>
        <li><a id = "delete_goal_button" type="submit" class="button tiny pull-3">Delete Goal</a></li>
      </ul>
    </div>

      
    
    <!-- tabs -->
    <dl class="section-container tabs" data-tab>
        <dd class="active"><a href="#panel2-1">Goal History</a></dd>
        <dd><a href="#panel2-2">graph</a></dd>
        <dd><a href="#panel2-3">comments</a></dd>
      </dl>
      <div class="tabs-content">
     
        <div class="content active" id="panel2-1">
          <p> List Goal History </p>
          <p> List Goal History </p>
          <p> List Goal History </p>
          <p> List Goal History </p>
          <p> List Goal History </p>

        </div>
        <div class="content" id="panel2-2">
          <p> This feature is not implemented yet </p>
        </div>
        <div class="content" id="panel2-3">
          <p> This feature is not implemented yet </p>
        </div>

      </div>
    </div>

        

    <!-- Nav Sidebar (Left)-->
    <div class="large-3 pull-9 columns">
      <br> <p> <img src="http://placehold.it/320x300&text=photo" /></p>

      <form data-abide>
        <fieldset>
        <legend> <h3> Participants </h3></legend>
        <ul class="side-nav">
          {% for participant in goal.beatmygoaluser_set.all %} 

          <li><a href="users/{{ participant.id }}">{{ participant.username }}</a></li>
          {% endfor %}
          
          
        </ul>
        </fieldset>
      </form>
    </div>
  

    <div style="hidden" id="username">{{ goal.creator.username }}</div>
  </body>
</html>

<script src="{% static 'js/goals/viewGoal.js' %}"></script>

{% endblock %}

