{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<script src="{% static 'js/dashboard/dashboard.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />

<div class="row">
    <ul class="dashcard-container small-block-grid-1 medium-block-grid-2 large-block-grid-3"> </ul>
</div>
<div class="users" style="display:none">
   {% for user in users %} 
        <div id="id{{ user.id }}">{{ user.username }}</div>
   {% endfor %} 
</div>


{% endblock %}
