{% extends "base.html" %}

{% block title %}Goal Dashboard{% endblock %}

{% load staticfiles %}

{% block content %}

{% csrf_token %}
<script src="{% static 'js/dashboard/dashboard.js' %}"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<center>  
<table class="table table-striped">
    <thead>
        <tr>
            <b>
                <th>Name</th>
                <th>Description</th>
                <th>Creator</th>
                <th>Prize</th>
            </b>
        </tr>
    </thead>
        <tbody>

        </tbody>
</table>
</center>
<div class="users" style="display:none">
   {% for user in users %} 
        <div id="id{{ user.id }}">{{ user.username }}</div>
   {% endfor %} 
</div>


{% endblock %}

