{% extends "base.html" %}

{% load staticfiles %}

{% block title %}BeatMyGoal | Register{% endblock %}

{% block content %}

<script src="{% static 'js/users/createUser.js' %}"></script>

<div class="row">

  <div class="large-6 columns" data-equalizer>
    <h1>Register</h1>
    <div class="panel" data-equalizer-watch>
      <div data-abide id="register-form" >

       <div>
        <label for='username'>Username
          <input id="register-username" type="text" required pattern="alpha_numeric"/>
          <small id="username-error" class="error">Usernames can only contains letters or numbers.</small>
        </label>
      </div>

      <div class="email-label">
        <label for='email'>Email
          <input id="register-email" type="email" required  />
          <small id="email-error" class="error">An email address is required.</small>
        </label>
      </div>

      <div class="password-label">
        <label for='password'>Password
          <input id="register-password" type="password" required  required pattern="[a-zA-Z0-9]+" />
          <small id="password-error" class="error">A password is required. Only alpha-numeric characters are allowed.</small>
        </label>
      </div>

      <input id="register-submit" type="submit" class="button" value="Register">

      <br>    
    </div>
  </div>
</div>

<div class="large-6 columns" >

  <div  style="visibility:hidden"><h1>Coming soon!</h1></div>
  <div class="panel" data-equalizer-watch>
    <h3>Coming soon!</h3>

    <img src="{% static 'img/register-twitter-facebook.png' %}"/>
    <br>
  </div>
</div>


</div>

{% endblock %}
