{% extends "base.html" %}

{% load staticfiles %}

{% block title %}BeatMyGoal | Register{% endblock %}

{% block content %}

<script src="{% static 'js/users/createUser.js' %}"></script>

<div class="row">

  <div class="large-6 columns">
    <h1>Register</h1>
    <div class="panel">
      <form id="register-form">
      <label>Username</label>
      <input id="register-username" type="text" placeholder="" />

      <label>Email</label>
      <input id="register-email" type="text" placeholder="" />

      <label>Password</label>
      <input id="register-password" type="text" placeholder="" />

      <button id="register-submit">Register</button>
      <!--<input id="register-submit" type="submit" class="button" value="Register">Register</input> -->
      <br>    
    </form>
    </div>
  </div>

  <div class="large-6 columns">

    <div  style="visibility:hidden"><h1>Coming soon!</h1></div>
    <div class="panel">
      <h3>Coming soon!</h3>

      <img src="{% static 'img/register-twitter-facebook.png' %}"/>
      <br>
    </div>
  </div>


</div>

{% endblock %}
