{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Edit Profile{% endblock %}

{% block content %}

<script src="{% static 'js/users/editUser.js' %}"></script>

<form id="editForm" data-abide>
	<!-- <div class="row"> -->
	<!-- 	<div class="large-6 columns"> -->
	<!-- 		<label for="fname"> First Name -->
	<!-- 			<input id='fname' type="text" placeholder="First Name"> -->
	<!-- 		</label> -->
	<!-- 	</div> -->
	<!-- 	<div class="large-6 columns"> -->
	<!-- 		<label for'lname'>Last Name -->
	<!-- 			<input id='lname' type="text" placeholder="Last Name"> -->
	<!-- 		</label> -->
	<!-- 	</div> -->
	<!-- </div> -->
	<div class="row">
		<div class="large-6 columns username-fields">
			<label for="username">Username
				<input id='username' type="text" placeholder="Username" value="{{ username|default:'' }}" required pattern="alpha_numeric">
				<small id="username-error" class="error">Usernames can only contains letters or numbers.</small>
			</label>
		</div>
		<div class="large-6 columns email-fields">
			<label for='email'>Email
				<input id='email' type="email" placeholder="Email" value="{{ email|default:'' }}" required>
				<small id="email-error" class="error">An email address is required.</small>
			</label>
		</div>
	</div>


	<div class="row ">
		<ul class="button-group right">
			<div class="larger-12 columns">
				<a href="#" data-reveal-id="reveal_save" class="button small radius alert">Save</a>
				<input id="cancel" type="button" class="button small radius" value="Cancel">
				<input type="button" id="delete_goal_button2" data-reveal-id="firstModal" class="button small radius alert" value="Delete Account">
			</div>
		</ul>
	</div>
</form>


<!-- Reveal Modals begin -->
<div id="firstModal" class="reveal-modal medium" style="display: none" data-reveal>
  <h2> Are you sure you want to delete this account?</h2>
  <br>
  <p>If you select "Yes", this account will be <code>permanently deleted</code>. </p>
  <p>Click "No", If you don't want to delete this account.</p>
  <label for='password'>Confirm Password
    <input id='password' type="password" required/>
    <small id="password-error" style="display:None" class="error">A password is required</small>
  </label>
  <ul class="button-group right">
    <li><a id = "Yes_button" class="button large pull-2 radius alert"> YES </a></li>
    <li><a id = "No_button" class="button large  radius"> NO </a></li>
  </ul>
  <a class="close-reveal-modal">&#215;</a>
</div>


<div id="reveal_save" class="reveal-modal medium" style="display: none" data-reveal>
  <h2> Please Re-authenticate </h2>
  <br>
  <label for='password'>Confirm Password
    <input id='password' type="password" required/>
    <small id="password-error" style="display:None" class="error">A password is required</small>
  </label>
  <ul class="button-group right">
    <li><a id = "Confirm_button" class="button large pull-2 radius alert"> Confirm </a></li>
    <li><a id = "Back_button" class="button large  radius"> Back </a></li>
  </ul>
  <a class="close-reveal-modal">&#215;</a>
</div>



{% endblock %}

