{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Edit Profile{% endblock %}

{% block content %}

<script src="{% static 'js/users/editUser.js' %}"></script>

<form id="editForm" data-abide>
	<div class="row">
		<div class="large-6 columns">
			<label for="fname"> First Name</label>
			<input id='fname' type="text" placeholder="First Name">
		</div>
		<div class="large-6 columns">
			<label for'lname'>Last Name</label>
			<input id='lname' type="text" placeholder="Last Name">
		</div>
	</div>
	<div class="row">
		<div class="large-6 columns username-fields">
			<label for="username">Username</label>
			<input id='username' type="text" placeholder="Username" value="{{ username|default:'' }}" required pattern="alpha_numeric">
			<small id="username-error" class="error">Usernames can only contains letters or numbers.</small>
		</div>
		<div class="large-6 columns email-fields">
			<label for='email'>Email</label>
			<input id='email' type="email" placeholder="Email" value="{{ email|default:'' }}" required>
			<small id="email-error" class="error">An email address is required.</small>
		</div>
	</div>

	<div class="row">
		<div class="larger-12 columns">
			<input id="save" type="submit" class="button small radius" value="Save">
			<input id="cancel" type="button" class="button small radius" value="Cancel">
			<input  id="delete" type="button" class="button small radius alert" value="Delete">
		</div>
		
	</div>
</form>

{% endblock %}

