{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{{ viewedUser.username }}{% endblock %}

{% block content %}

<div class="row">        
   <!-- Main Content Section -->
  <div class="large-9 push-3 columns">
    <form data-abide>
       <fieldset>
       <legend> <h2> Basic User Information</h2></legend>
       
      
       {% if not errors %}
       <h7> BeatMyGoal login </h7><br><br>
      <!--
      / Facebook login / Tweeter login
      -->   
   
       <div class="row">
         <div class="large-6 columns">
           <h5> Username : {{ viewedUser.username | default:'' }} </h5>
   
         </div>
         <div class="large-6 columns">
           <h5> Email : {{ viewedUser.email | default:'' }} </h5>
         </div>
       </div>

       {%  else  %}
       <h5> We coundn't find the User in Our database </h5>  
   
       {% endif %}
        <!--
        <div class="row">
          <div class="large-6 columns">
          <label for="First Name"> First Name
          <input id='First_Name' type="text" value="">
          </label>
          </div>
          <div class="large-6 columns">
          <label for="Last Name"> Last Name
          <input id='Last_Name' type="text" value="">
          </label>
          </div>
          </div>

          <div class="row">
          <div class="large-6 columns">
          <label for="Error Code"> Error Code
          <input id='Error_Code' type="text" value="">
          </label>
          </div>
          <div class="large-6 columns">
          <label for="User id"> Userid
          <input id='Userid' type="text" value="">
          </label>
          </div>
          </div>
        -->
      </fieldset>
    </form>

    {% if viewedUser.id == user.id and viewedUser.username == user.username %}

    <!-- buttons -->
    <div class="row">
      <ul class="button-group right">
 
      <!--
      If request.user.is_authenticated(), hide these two buttons
      -->  
      <li><a id = "delete_user_button" type="button" class="button tiny pull-5 radius alert">Delete User</a></li>
      <!--
      <li><a id = "password_change_button" type="submit" class="button tiny pull-3">Password Change</a></li>
      -->
      <li><a href = "edit" class="button tiny pull-3 radius">Edit User</a></li>
      
      </ul>
    </div>
    {% endif %}
 
    <!-- tabs -->
    <dl class="section-container tabs" data-tab>
      <dd class="active"><a href="#panel2-1">{{ viewedUser.username }}'s Goals</a></dd>
      <dd><a href="#panel2-2">graph</a></dd>
      <dd><a href="#panel2-3">comments</a></dd>
    </dl>
      
    <div class="tabs-content">
      <div class="content active" id="panel2-1">
        <div class="row">
          <ul>
            {% if viewedUser.goals.all %}
              {% for goal in viewedUser.goals.all %}
              <li><a href="/goals/{{ goal.id }}">{{ goal.title }}</a></li>
              {% endfor %}
            {% else %}
              {% if viewedUser.id == user.id and viewedUser.username == user.username %}
              <li><a href="/dashboard/"> You don't have a joined Goal! Join now </a></li>
              {% endif %}
            {% endif %}
          </ul>
        </div>
      </div>
    </div>

    <div class="content" id="panel2-2">
      <p> This feature is not implemented yet </p>
    </div>
    
    <div class="content" id="panel2-3">
      <p> This feature is not implemented yet </p>
    </div>

  </div>
</div>
 
       

   <!--Nav Sidebar (Left)-->
    <div class="large-3 pull-9 columns">
    <br> <p> <img src="http://placehold.it/320x300&text=photo" /></p>
      <form data-abide>
        <fieldset>
          <legend> <h3> Friends </h3></legend>
          <ul class="side-nav">
            <p>This feature is not implemented yet</p>
          </ul>
        </fieldset>
        </form>
        </div>
        
      </div>
    </div>

<script src="{% static 'js/users/viewUser.js' %}"></script>

{% endblock %}
