{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ viewedUser.username }}{% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/users/viewUser.css' %}"/>
<script src="{% static 'js/users/viewUser.js' %}"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>


<div class="row">
    <div class="small-8 medium-6 large-4 small-centered medium-centered large-uncentered columns" onmouseover = "showfileButton()" onmouseout = "hidefileButton()" >
        <br>
        <div id = "imageContainer">
            {% if viewedUser.image %}
            <img src="/media/{{viewedUser.image.url}}" width=100px height=110px style="width:100%;height:100%" />
            {% else %}
                <p> <img src="http://placehold.it/320x300&text=photo" /></p>
            {% endif %}
        </div>
        {% if viewedUser.id == user.id and viewedUser.username == user.username %}
        <form class = "prof-pic-form" action={% url 'user_image_upload' user.id  %} method="post" enctype="multipart/form-data">
            <div id = "filebuttonContainer">
                <input type="file" class="upload" name="image" id = "imagebutton" onchange="submitimage()" />
            </div>
            <div id = "dummyContainer">
                <input type = "button" class ="button tiny" value="Update Profile Picture" id="imdummy">
            </div>
            <div id ="submitbuttonContainer">
                <input type="submit" class="button tiny" value="Update" id ="imagesubmitbutton"/>
            </div>
        </form>
        {% endif %}
        {% if viewedUser.id == user.id and viewedUser.username == user.username  and user.social == None%}
        <div class="row">
            <div class="small-1 medium-0 large-1 columns">
            </div>
            <div class="small-10 medium-12 large-10 small-centered medium-centered large-centered columns text-center">
                            <a href="#" id="Edit_User_button" class="button tiny radius">Edit User</a>
<!--                 <center>        
                    <div class="button-bar">
                        <ul class="button-group">
                            <li><a href="#" data-reveal-id="reconfirom_delete_user" class="button tiny radius alert">Delete User</a> </li>
                        </ul>
                        <ul class="button-group">
                            <li><a href="#" data-reveal-id="reveal_edit" class="button tiny radius">Edit User</a> </li>
                        </ul>
                    </div>
                </center>
 -->            </div>
            <div class="small-1 medium-0 large-1 columns">
            </div>
        </div>
        {% endif %}
    </div>
    <div class="large-8 columns">
        {% if errors %}
            <h5>We couldn't find that user</h5>
        {% endif %}
        <!-- tabs -->
        <dl class="breadcrumbs tab-bar" data-tab>
            <dd class="active"><a href="#panel2-1">Goals</a></dd>
            <dd><a href="#panel2-2">Favorites</a></dd>
            <dd><a href="#panel2-3">History</a></dd>
            <dd><a href="#panel2-4">Comments</a></dd>
        </dl>

        <div class="tabs-content tab-content-holder">
            <div class="content active" id="panel2-1">
                {% if viewedUser.goals.all %}
                    <ul class="dashcard-container small-block-grid-2 medium-block-grid-3 large-block-grid-3"> 
                        {% for goal in viewedUser.goals.all %}
                            <li>
                                <div class="dashcard-holder card" id="{{ goal.id }}">
                                    <div class="dashcard" id="{{ goal.id }}">
                                        <div class=dashcard-img>
                                            {% if goal.image %}
                                                <img src="/media/{{goal.image.url}}" class='goal-image'/>
                                            {% endif %}
                                        </div>
                                        <div class=dashcard-title><a href="/goals/{{ goal.id }}">{{ goal.title }}</a></div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    {% if viewedUser.id == user.id and viewedUser.username == user.username %}
                        <a href="/dashboard/"> You don't have a joined Goal! Join now </a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="content" id="panel2-2">
                {% if viewedUser.favorite_goals.all %}
                    <ul class="dashcard-container small-block-grid-2 medium-block-grid-2 large-block-grid-3"> 
                        {% for goal in viewedUser.favorite_goals.all %}
                            <li>
                                <div class="dashcard-holder card" id="{{ goal.id }}">
                                    <div class="dashcard" id="{{ goal.id }}">
                                        <div class=dashcard-img>
                                            {% if goal.image %}
                                                <img src="/media/{{goal.image.url}}" class='goal-image'/>
                                            {% endif %}
                                        </div>
                                        <div class=dashcard-title><a href="/goals/{{ goal.id }}">{{ goal.title }}</a></div>
                                        <!-- <div class=dashcard-description>{{ goal.description }}</div> -->
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    {% if viewedUser.id == user.id and viewedUser.username == user.username %}
                        <a href="/dashboard/">You haven't added any goals to your favorites.</a>
                    {% endif %}
                {% endif %}
            </div>
            <div class="content" id="panel2-3">
                <ul>
                    {% if viewedUser.logentries.all %}
                        {% for entry in viewedUser.logentries.all %}
                            <li><a href="/goals/{{ entry.log.goal.id }}">{{ entry.log.goal.title }}: {{ entry.entry_amount }}, {{ entry.comment }}</a></li>
                        {% endfor %}
                    {% else %}
                        <li>You don't have anything in your goal history. Try participating in one of your goals!</li>
                    {% endif %}

                </ul>
                <!-- <p> This feature is not implemented yet </p> -->
            </div>
          
            <div class="content" id="panel2-4">
                <p>Coming soon! </p>
                  <!-- <p> This feature is not implemented yet </p> -->
            </div>
        </div>
    </div>
</div>



<div class="row card">
<ul class="example-orbit-content" data-orbit>
  <li data-orbit-slide="headline-1">
  <div class="medium-9 large-12 columns">
        <div id='userProgressChart2' style="min-height: 400px"></div>
        <div data-alert id="chartAlert" class="alert-box" style="display:none">
            No log information available to display.
        </div>
    </div>
  </li>
  <li data-orbit-slide="headline-2">
    <div class="medium-9 large-12 columns">
        <div id='userProgressChart1' style="min-height: 400px"></div>
        <div data-alert id="chartAlert" class="alert-box" style="display:none">
            No log information available to display.
        </div>
    </div>
  </li>
</ul>
</div>








<script type="text/javascript">

    // Load the Visualization API and the piechart package.
    google.load('visualization', '1.0', {'packages':['corechart']});
    var colors = COLORS.list();
    var chartColors = [];

    for (var i = 0; i < $(".participants-list").children().length; i++){
        chartColors.push(colors[i]);
        $($(".participants-list").children()[i]).children("a").css("color", colors[i]);
    };

    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(drawChart);

    // Callback that creates and populates a data table, 
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {
        var data = new google.visualization.DataTable();
        var chart = new google.visualization.BarChart(document.getElementById('userProgressChart1'));

        var data2 = new google.visualization.DataTable();
        var chart2 = new google.visualization.LineChart(document.getElementById('userProgressChart2'));





        //----------chart1-----------//
        var options = {
            title: 'Number of logs per goal',
            animation: {duration: 2000, easing: "inAndOut"},
            groupWidth: '100%',
            backgroundColor: { fill:'#DCDCDC' },
            chartArea: {left:0, width: "80%"},
            };
        data.addColumn('string','name');
        var row = [''];
        {% for k,v in chart1_data.items %}
            data.addColumn('number', "{{ k }}")
            row.push(Number("{{v}}"));
        {% endfor %}
        data.addRow(row);
        //----------char1-----------//

        var options2 = {
            title: 'Log progress over last 2 weeks',
            curveType: 'function',
            backgroundColor: { fill:'#DCDCDC' },
            chartArea: {left: 10, width: "100%"},
        };
        data2.addColumn('string','date');
        data2.addColumn('number','# of logs');
        {% for k,v in chart2_data %}
            data2.addRow(["{{ k }}".replace("midnight",""), Number("{{ v }}")])
        {% endfor %}


        //----------char2-----------//

        chart.draw(data, options);
        chart2.draw(data2, options2);
    }</script>

   
{% endblock %}

